spring:
  application:
    name: spring_data
  datasource:
    url: jdbc:postgresql://localhost:5432/Acelera_TI?currentSchema=ejercicio_jpa
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      max-lifetime: 2000000
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_schema: ejercicio_jpa
  sql:
    init:
      mode: always