spring:
  application:
    name: spring_data
  datasource:
    url: jdbc:postgresql://localhost:5432/Acelera_TI?currentSchema=ejercicio_jpa
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_schema: ejercicio_jpa
  sql:
    init:
      mode: always